language = "javascript"
modules = ["nodejs-20"]
entrypoint = "client/src/app/page.tsx"
run = "cd client && npm run dev -- --hostname 0.0.0.0"
onBoot = "cd client && npm install"
hidden = ["client/node_modules", "client/.next"]

[gitHubImport]
requiredFiles = [".replit", "client/package.json"]

[packager]
language = "nodejs"
ignoredPaths = ["mobile", ".git", "client/node_modules", "client/.next"]

[packager.features]
guessImports = false
packageSearch = false
enabledForHosting = false

[deployment]
build = "cd client && npm ci && npm run build"
run = "cd client && npm run start -- --hostname 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80
